/* #848ea3 */
/* #d5d6c5 */
body {
  font-family: Avenir, "Trebuchet MS", Arial, sans-serif;
  background-color: white;
}

.logo {
  color: #343a40;
  position: absolute;
  font-weight: 900;
  font-size: 36px;
  top: 10px;
  left: 23px;
}
h1,
h2,
h3,
p,
a {
  color: #343a40;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  z-index: 1;
}

.nudge {
  width: 100px;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  color: #5a5e63;
  transition-property: all;
  transition-duration: 0.2s;
}

nav a:hover {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.current-page {
  color: black;
  border-bottom: 2px solid black;
}

.hero {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#interactive {
  background-image: url("../images/interactive-0.jpg");
  background-position-y: 35%;
}
#interaction1 {
  background-image: url("../images/interaction1-0.jpg");
  background-position-y: 70%;
}
#interaction2 {
  background-image: url("../images/interaction2-0.jpg");
  background-position-y: 25%;
}
#sketch {
  background-image: url("../images/sketch-0.jpg");
  background-position-y: 60%;
}
#design1 {
  background-image: url("../images/design1-0.jpg");
}
#design2 {
  background-image: url("../images/design2-0.jpg");
}
#motion {
  background-image: url("../images/motion-0.jpg");
}
#threed {
  background-image: url("../images/3d-0.jpg");
}
.container {
  width: 60%;
}
h1 {
  font-size: 24px;
  font-weight: normal;
  color: gray;
  /* text-decoration: underline; */
}
h2 {
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h3 {
  font-size: 15px;
  color: gray;
  font-weight: 200;
}

p {
  font-family: baskerville;
  font-size: 22px;
  line-height: 160%;
}
img {
  width: 100%;
}
