/*
red:#b70038
dark red:#9B0B37
background:#f1f2f2
border:#D0D2D3
grey: #656666
*/
body{
  font-family: Calibre;
  background: #f1f2f2;
}
h1{
  font-size: 52px;
  font-weight: 500;
}
h2{
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
h3{
  font-size: 24px;
  font-weight: 500;
}
h4{
  font-size: 20px;
  font-weight: 500;
}
h5{
  font-size: 15px;
}
a{
  color: inherit;
}
a:hover{
  color: #b70038;
  text-decoration: none;
}
p{
  font-size: 20px;
}
.small-p{
  font-size: 15px;
}
.index-text{
  color: white;
}
b{
  font-weight: 600;
}
img{
  text-align: center;
}
.row{
  height: inherit;
  margin: 0;
}
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11{
  padding: 0;
}
.btn-primary{
  border-radius: 0;
  background-color: #b70038;
  border-color: #b70038;

}
.btn-primary:hover{
  background-color: #9B0B37;
  border-color: #9B0B37;
}
.btn-primary:active{
  background-color: #9B0B37 !important;
  border-color: #9B0B37 !important;
}
.btn-outline-primary{
  position: relative;
  bottom: -4px;
  border-color: #b70038;
  color:#b70038;
  font-size: 20px;
  font-weight: 500;
  height: 36px;
  vertical-align: middle;
  padding: 6px 20px;
}
.btn-outline-primary:hover{
  border-color: #b70038;
  background-color: #b70038;
}
.btn-outline-primary:active{
  background-color: #b70038 !important;
  border-color: #b70038 !important;
  box-shadow: none !important;
}
.btn-outline-primary:focus{
  box-shadow: none;
  background-color: #b70038 !important;
  border-color: #b70038 !important;
  color: white;
}
.btn:focus{
  box-shadow: none;
}
.question-btn{
  margin-right: 20px;
}
.question-btn-text{
  position: relative;
  bottom: 3px;
}
.a-modifier{
  margin-top: 3px;
  margin-left: auto;
  margin-bottom: -10px;
}
.message-btn{
  border: 0;
}
.message-btn:hover{
  background-color: inherit;
  color: #b70038;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.tracking{
  letter-spacing: 0.1rem;
}





/* Navigation Bar */
.navbar{
  height: 80px;
  padding: 0;
  background-color: white;
  border-bottom: 1px solid #D0D2D3;
  justify-content: unset;
}
.index-navbar{
  background-color: inherit;
  border-bottom: 1px solid white;
}
.index-navbar ::placeholder{
  color: white;
}
.subnav{
  border-top: 1px solid #D0D2D3;
  border-bottom: 0;
  width: 100vw;
  height: 60px;
}
.navbar-tall{
  height: auto;
}
.filter{
  border-top: 1px solid #D0D2D3;
  border-bottom: 0;
  height: 60px;
  width: 100vw;
  background-color: #f1f2f2;
}


/* Nav-Links */
.nav-link{
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #656666;
  padding-left: 10px;
}
/* .nav-link:hover{
  color: #b70038;
} */
.index-nav-link{
  color: white;
}
.index-nav-link:hover{
  color: #f1f2f2;
}
.subnav-link{
  letter-spacing: normal;
  font-size: 20px;
  padding: 13px;
  margin: auto 20px;
}
.subnav-link-active{
  color: #b70038;
  border-bottom: 3px solid #b70038;
}
.post-subnav{
  border: 0;
  height: auto;
  margin-bottom: 20px;
  width: auto;
}
.post-subnav-link{
  margin:0;
  margin-right: 20px;
  padding:0;
}
.post-subscript{
  color: inherit !important;
}

/* Nav-Brand */
.navbar-brand{
  border-right: 1px solid #D0D2D3;
  height: 80px;
}
.index-navbar-brand{
  border-right: 1px solid white;
}
.index-navbar-brand *{
  color: white !important;
}

.gourmet{
  color: #b70038;
  font-family: futura;
  position: relative;
  bottom: -6px;
  left: -6px;
}
.navbar-brand:hover{
  background-color: #b70038;
  height: 80px;
}
.index-navbar-brand:hover{
  background-color: rgba(256, 256, 256, 0.3);
  height: 80px;
}
.navbar-brand:hover .zagat-logo-paths{
  fill: white;
}
.navbar-brand:hover .gourmet{
  color: white;
}
.index-zagat-logo-paths{
  fill: white;
}


/* Nav-Search */
.form-inline{
  display: inline;
}
.navbar .form-control{
  height: 80px;
  width: 488px !important;
  border-radius: 0;
  border: 0;
  border-right: 1px solid #D0D2D3;
  background-color: inherit;
}

.form-control:focus {
  box-shadow: none;
  border-right: 1px solid #D0D2D3;
  background-color: inherit;
}
.index-form-control{
  border-right: 1px solid white;
}

/* Nav-Filters */
.filter-box{
  width: auto;
  height: 30px;
  padding: 5px 15px;
  margin-left: 24px;
  background-color: white;
  border: 1px solid #656666;
}
.filter-text{
  margin-top: 2px;
}
.filter-blank{
  padding-right: 65px;
}



/* Cards */
.box{
  border-radius: 0;
  border: 0;
  background-color: white;
}
.card{
  border-radius: 0;
  border: 0;
}
.index-image-card{
  height: 650px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.5)), url("../assets/image/food2.jpg");
  background-size: cover;
  background-position: center;
}
.index-image-card-2{
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.5)), url("../assets/image/food1.jpg");
  background-size: cover;
  background-position: center;
}
.index-image-card-3{
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.5)), url("../assets/image/burger1.jpg");
  background-size: cover;
  background-position: center;
}

.large-card{
  margin: 32px 0px;
  padding: 40px;
}
.comment-card{
  border: 1px solid #D0D2D3;
  background-color: #f1f2f2;
  padding: 30px auto;
  margin-top: 20px;
}
.comment-link{
  color: black;
  text-decoration: underline;
}
.comment-link:hover{
  text-decoration: underline;
}
.inside-card{
  height: 288px;
  padding: 40px;
  border: 1px solid #D0D2D3;
  margin-bottom: 20px;
}
.image-card{
  margin: 32px 10vw;
  height: 40vw;
}
.text-card{
  margin: 32px 10vw;
  height: 288px;
}
.restaurant-card{
  height: 160px;
  margin: 12px 24px;
}
.restaurant-card-small{
  height: 87.5px;
  border-bottom: 1px solid #D0D2D3;
}
.restaurant-image-box{
  height: 87.5px;
}
.restaurant-card-small-name{
  margin: 33px 10px;
}
.restaurant-score{
  height: 30px !important;
}
.zagat-circle{
  width: 18px;
}
.card-image{
  width:100%;
  height:100%;
  object-fit: cover;
}
.card-text{
  padding: 40px !important;
  overflow: hidden;
}
.card-paragraph{
  height: auto;
  overflow: hidden;
}

.inside-card .card-paragraph{
  height: 82px;
  overflow: hidden;
}
.card-more{
  position: absolute;
  right: 40px;
  bottom: 24px;
}



/* Text Boxes */
.text-box-1{
  height: 330px;
  overflow: hidden;
}
.text-box-2{
  height: 90px;
  overflow: hidden;
}
.text-box-3{
  height: 42px;
  overflow: hidden;
}



/* Profile */
.profile{
  width: 488.5px;
  height: 50px;
}

.profile-image{
  border-radius: 100%;
  width: 48px;
}
.profile-image-large{
  border-radius: 100%;
  width: 200px;
}
.profile-username{
  font-size: 24px;
  font-weight: 500;
  margin: 3px 0 0 0;
}
.profile-description{
  font-size: 15px;
  font-weight: 400;
  margin: 8px 0 0 8px;
  letter-spacing: 0.8px;
}
.subscript{
  font-size: 15px;
  font-weight: 400;
  color: #656666;
}



/* Banner */
.banner{
  width: 100vw;
  height: 450px;
  background-color: white;
}
#banner-image{
  position: absolute;
  top: 80px;
}
.square-row{
  height: 225px;
}



/* Map */
.map{
  height: 620px;
}
.fix-on-page{
  position: fixed;
  right: 0;
}



/* Tag */
.tag{
  display: inline-block;
  width: auto;
  border: 1px solid #D0D2D3;
  padding: 12px 20px 10px 20px;
  margin-right: 10px;
}
a:hover .tag{
  color: #b70038;
  border-color: #b70038;
}
/* Sign UP */
.sign-up-background{
  position: fixed;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../assets/image/background.jpg");
  height: 1400px;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
}
.sign-up{
  margin: 100px auto;
  background-color: white;
  width: 600px;
  padding: 40px;
  /* z-index: 1; */
}
.sign-up-long{
  margin-top: 50px;
}
.fa-times{
  position: relative;
  right: -4px;
  top: 1.5px;
  padding-left: 6px;
  border-left: 1px solid #D0D2D3;
}
a:hover .fa-times{
  border-color: #b70038;
}


/* Modal */
.modal-dialog{
  margin-top: 100px;
  border-radius: 0;
  background-color: white;
  max-width: 600px;
}
.larger-dialog{
  max-width: 800px;
  background-color: #f1f2f2;
  border: 1px solid #D0D2D3;
}
.modal-content{
  border: 0;
  background-color: inherit;
  padding: 40px;
}
.modal-header{
  border: 0;
}
.modal-body{
  border: 0;
  padding:
}
.modal-footer{
  border: 0;
}
.logo-center{
  margin-left: 110px;
}
.logo-resize{
  width: 200px;
}
.logo-reposition{
  bottom: -14px;
  left: -6px;
}

.form-text{
  width: 100%;
  height: 50px;
  margin: 30px auto;
  padding-left: 15px;
}
.a-form{
  position: relative;
  top: -31px;
}
.form-paragraph{
  height: 400px;
}
.log-in{
  height: 50px;
}
.social-log-in{
  margin: 10px 0;
  padding: 10px;
  padding-left: 0;
}
.social-log-in-text{
  color: white;
}
.fab{
  padding-top: 2px;
  vertical-align: middle;
  color: white;
}
.text-edit{
  height: 40px;
  width: 100%;
  border: 1px solid #D0D2D3;
  margin-bottom: 0;
  background-color: white;
  padding-left: 10px;
}
.text-edit *{
  color: #656666;
  margin: 10px;
}




/* Others */
.btns{
  position: absolute;
  right: 40px;
  top: 40px;
}
.more-center{
  margin: 0 390px;
}
.three-restaurant{
  height: auto;
  border-bottom: 0;
}
.profile-page-down{
  margin-top: 280px;
}
.right-bottom{
  position: absolute;
  right: 40px;
  bottom: 32px;
}
.intext-image{
  width: 50%;
  margin-bottom: 1rem;
}
.center-text{
  text-align: center;
  margin: 0;
}
.left-nudge{
  position: relative;
  left: -42px;
  top: 2px;
}
